<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>youtubedl</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,600&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="h1top">
      <h1 onclick='return returnHome()'>Youtube Downloader</h1>
    </div>
    <div class="center">
      <h1>404</h1>
      </p><p style='color: #999999;'>this page does not exist. please check spelling and try again, or return <a style="color: #006600;" href="/">home</a></p>
    </div>
  </body>
</html>