{{ error_code }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>youtubedl</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,600&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="h1top">
      <h1 onclick='return returnHome()'>Youtube Downloader</h1>
    </div> 
  	<div class="center">
  		<h1 class="downloadPage">{{ title }}</h1>
      <img width='70%' height='70%'style='box-shadow: 0 3px 3px rgba(0,0,0,0.2);
                                          display: block;
                                          margin-left: auto;
                                          margin-right: auto;' src='{{ thumbnail_url }}'><br>
      <p align="center">
        <a onclick='markInactive(1)' class="downloadLink" href="/d/{{ filename }}" download="{{ filename }}">download now</a>
      </p>
  	</div>
    <script src="script.js"></script>
  </body>
  <script>
    if(screen.width >= 768){
      const centerDivWidth = document.getElementsByClassName("center");
      const centerDiv = centerDivWidth[0]
      centerDiv.style.width = '60%'

      const bgbOrig = document.getElementsByClassName("downloadLink");
      const bgb = bgbOrig[0]
      bgb.style.paddingTop = '1.4%'
      bgb.style.paddingBottom = '1.4%'
    }
  </script>
</html>